* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0;
}
main {
  display: flex;
  flex: 10 0 auto;
  margin: 1rem;
  align-items: center;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: bisque;
  background-color: brown;
}

header {
  flex: 2 0 auto;
}

footer {
  flex: 1 0 auto;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
